body {
    font-family: 'Inter', sans-serif;
    background-color: #0f0529;
}

.gradient-btn {
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    color: white;
    border: none;
    border-radius: 9999px;
    font-weight: bold;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    min-height: 48px;
}

.gradient-btn:hover {
    transform: scale(1.05);
}

.new-badge-custom {
    font-weight: bold;
    background: rgba(0, 255, 136, 1);
    border: 1px solid #1A0B2E;
    box-shadow: 0px 0px 25px 5px rgba(0, 255, 136, 0.5);
}

.btn-spotify {
    background: linear-gradient(47.64deg, #ffdf59, #fa3198, #9c1aff);
    color: white;
    border: none;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-spotify:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease;
}

.btn-subscribe {
    background: transparent;
    color: rgba(0, 255, 136, 1);
    border: 2px solid #00ffa3;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0 rgba(0, 255, 163, 0);
}

.btn-subscribe:hover {
    background-color: rgba(0, 255, 163, 0.1);
    box-shadow: 0 0 20px rgba(0, 255, 163, 0.8);
}
/*230E3D 2C1A50*/